/* Global Styles */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: Helvetica, sans-serif;
	font-size: 20px;
}

/* Map Styles */

.mapContainer {
	height: 100%;
	width: 100%;
	position: relative;
	/*Move the map up 27px to offset the infoWindowNode height*/
	bottom: 27px;
}

/*.mapContainer {
	height: 100%;
	width: 100%;
	position: relative;
}*/

/* Nav Styles */

.openNav {
	display: none;
}

.closeNav {
	display: none;
}

.listContainer {
	position: absolute;
	left: 0px;
	z-index: 10;
	height: 100%;
	width: 230px;
	background: #333;
	color: #f0f0f0;
	padding: 20px;
	display: table;
	transition: .5s;
}

.locationList {
	list-style: none;
	display: table-cell;
	vertical-align: middle;
}

.locationList li {
	padding-bottom: 50px;
	cursor: pointer;
}

.locationList li:hover {
	position: relative;
	left: 10px;
}

@media screen and (max-width: 720px) {

	.openNav {
		display: block;
		position: absolute;
		z-index: 1;
		padding: 10px;
		font-size: 30px;
		background: #333;
		color: #fff;
		cursor: pointer;
	}

	.closeNav {
		display: block;
		position: absolute;
		left: 100px;
		z-index: 1;
		padding: 10px;
		font-size: 30px;
		background: #333;
		color: #fff;
		cursor: pointer;
	}

	.listContainer {
		position: absolute;
		left: -230px;
		z-index: 10;
		height: 100%;
		width: 150px;
		background: #333;
		color: #f0f0f0;
		padding: 20px;
		display: table;
		transition: .5s;
	}

	.locationList li {
		font-size: 16px;
		padding-bottom: 50px;
		cursor: pointer;
	}

}
