* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    color: #333;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 18px;
}

body {
    font-family: Trebuchet, sans-serif;
    font-size: 20px;
}

.btn-blue {
    background: #019CDE !important;
}

.loader-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    background: #fff;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-search-container {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: 1s;
}

.intro-flex {
}

.feast-on-header,
        .feast-on-tag,
        .intro-search-button {
    color: #333;
    margin-top: 0;
}

.feast-on-tag {
    font-size: 24px;
    line-height: 36px;
}

.intro-search-form {
    font-size: 18px;
    margin: 20px 0 0 0;
}

.intro-search-input,
            .intro-search-button {
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    border-radius: 3px;
}

.intro-search-input {
    width: 500px;
}

.intro-search-button {
    background: rgba(1, 156, 222, 1);
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}

.intro-search-button:hover {
    background: #016D9B;
    transition: .5s;
}

@media screen and (max-width: 1160px) {
    .intro-search-input {
        width: 300px;
    };
}

@media screen and (max-width: 768px) {
    .intro-search-container {
        align-items: center;
    }

    .intro-flex {
        margin-top: 0;
    }

    .intro-search-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .intro-search-button {
        width: 100%;
    };
}

.open-nav {
    display: none;
}

.close-nav {
    display: none;
}

.list-container {
    position: absolute;
    z-index: 3;
    margin-left: 20px;
    width: 230px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.location-list {
    list-style: none;
    width: 100%;
    height: 100%;
    padding-right: 20px;
    overflow: auto;
    position: relative;
}

.location-list li {
    text-align: center;
    width: 100%;
    height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 0 0 20px 0;
    text-transform: capitalize;
    font-size: 16px;
}

.location-list li:first-of-type {
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    .open-nav {
        display: block;
        position: absolute;
        z-index: 4;
        line-height: 60px;
        text-align: center;
        height: 60px;
        width: 60px;
        font-size: 30px;
        background: rgba(1, 156, 222, .75);
        color: #fff;
        cursor: pointer;
    }

    .close-nav {
        position: absolute;
        z-index: 4;
        font-size: 30px;
        background: rgba(1, 156, 222, .75);
        color: #fff;
        cursor: pointer;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }

    .list-container {
        position: absolute;
        top: 200px;
        margin-left: 0;
        z-index: 0;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, .75);
        color: #f0f0f0;
        display: table;
        opacity: 0;
        transition: .5s;
    }

    .location-list {
        height: 100%;
        padding-right: 0;
    };
}

.search-section {
    height: 200px;
    width: 100%;
    position: fixed;
    top: -200px;
    z-index: 2;
    transition: .5s;
}

.search-container {
    width: 500px;
    height: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
}

.filter-btn, .close-filter-btn {
    position: relative;
    top: 56px;
}

.filter-btn:hover, .close-filter-btn:hover {
    background: #000;
}

.close-filter-btn {
    display: none;
}

.search-form {
    width: 500px;
    text-align: center;
    height: 200px;
}

.search-form label {
    font-size: 1.5em;
    color: #333;
}

.address-text {
    font-size: 1em;
}

.search-field {
    height: 40px;
    width: 300px;
    margin: 20px 0 0 10px;
    padding: 10px;
    border: 1px solid #333;
    color: black;
}

@media screen and (max-width: 1000px) {
    .search-section {
        height: 200px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 0;
        opacity: 0;
        transition: .5s;
    }

    .search-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, .75);
        box-shadow: none;
    }

    .search-form {
        width: 500px;
        text-align: center;
        position: relative;
        top: 20px;
    }

    .search-form label {
        font-size: 1em;
    }

    .address-text {
        font-size: 1em;
    }

    .search-field {
        height: 40px;
        width: 300px;
        margin: 20px 0 0 10px;
        padding: 10px;
        border: 1px solid #333;
        color: black;
    }

    .filter-btn, .close-filter-btn {
        display: none;
    }

    .list-container li:first-of-type {
        margin-top: 0;
    }
}

.infowindow-node {
    text-align: center;
    background: #fff;
    overflow: auto;
    border-radius: 6px;
    display: none;
    position: relative;
    z-index: 10;
}

.infowindow-header {
    background: #019CDE;
    color: #fff;
    font-size: 2em;
    padding: 10px;
}

.infowindow-content-container {
}

.foursquare-location {
    margin-bottom: 20px;
}

.foursquare-link,
        .google-directions {
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.foursquare-contact {
    margin: 20px 0;
    font-size: 18px;
}

.foursquare-status {
    font-size: 18px;
}

.foursquare-price {
    margin-top: 20px;
}

.foursquare-rating-header {
    margin: 20px 0;
}

.foursquare-rating {
    padding: 10px;
    border-radius: 3px;
    color: '#fff';
}

@media screen and (max-width: 477px) {
    .google-directions {
        margin-bottom: 15px;
    }

    .google-directions, .foursquare-link {
        display: block;
        width: 100%;
    }
}

.gm-style-iw {
    width: 350px !important;
    top: 17px !important;
    left: 15px !important;
}

.iw-bottom-gradient {
    position: absolute;
    width: 270px;
    height: 25px;
    bottom: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.map-container {
    height: 100%;
    width: 100%;
    position: relative;
}
   .input-field input[type=text]:focus + label {
     color: #019CDE;
   }
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #019CDE;
     box-shadow: 0 1px 0 0 #019CDE;
   }
   .input-field input[type=text].valid {
     border-bottom: 1px solid #019CDE;
     box-shadow: 0 1px 0 0 #019CDE;
   }
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #019CDE;
     box-shadow: 0 1px 0 0 #019CDE;
   }
   .input-field .prefix.active {
     color: #019CDE;
   }

   .search-container input[type=text]:focus {
     border-bottom: 1px solid #019CDE;
     box-shadow: 0 1px 0 0 #019CDE;
   }

nav {
    background: transparent;
    box-shadow: none;
}

.btn-block {
    width: 100%;
    display: block;
}

.modal.bottom-sheet {
    max-height: 75% !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #9e9e9e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #9e9e9e;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #9e9e9e;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #9e9e9e;
}